<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title>404 - Not Found</title>
    </head>
<main>
    <%- include('components/navbar', {links: links}) %>
    <div class="about">
        404 - <%= url %>    Not Found
    </div>
    <%- include('components/footer', {currentYear: currentYear}) %>
</main>
</html>